{% include 'header.twig' with {'title': 'Liste'} %}
{% import 'tools.twig' as tools %}

<header>
    <h2>&Uuml;bersicht</h2>
    <nav class="types">
        {% spaceless %}
            <ul>
                {% for type in view.getTypes() %}
                    <li {% if type.active == true %}class="active"{% endif %}>
                        <a href="{{ type.url }}">{{ type.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endspaceless %}
    </nav>
</header>
<div id="content">
    {% include 'entry_data.twig' %}
</div>

{% include 'footer.twig' %}
