{% include 'header.twig' with {'title': 'Liste'} %}
{% import 'tools.twig' as tools %}

<header>
    <h2>Eintrag bearbeiten</h2>
</header>
<div id="content">
    {% include 'entry_form.twig' with {'formAction': view.getUpdateUrl(), 'document': view.getDocument()} %}
</div>

{% include 'footer.twig' %}