        </div>
        <footer>
            <div class="info">
                <div class="centered">
                    <p>Kickipedia 2.0</p>
                    <p>&copy; 2003 &ndash; {{ "now"|date("Y") }} MadCat[me]
                </div>
            </div>
            <div class="social centered">
                {% spaceless %}
                    <a class="github" href="https://github.com/MadCatme/Kickipedia-2" target="_blank">GitHub</a>
                    <a class="facebook" href="https://www.facebook.com/Kickipedia2" target="_blank">Facebook</a>
                    <a class="googleplus" href="https://plus.google.com/112275011558365941026" target="_blank">Google+</a>
                {% endspaceless %}
            </div>
        </footer>
        <script src="/assets/js/vendor/requirejs/requirejs-2.0.1.js" data-main="/assets/js/hook.js"></script>
    </body>
</html>