{% include 'header.twig' with {'title': 'Liste'} %}
{% import 'tools.twig' as tools %}

<header>
    <h2>Suche: "{{ view.getSearchTerm() }}"</h2>
    <p class="hits">{% if view.getTotalDocuments() > 0 %}{{ view.getTotalDocuments() }} Treffer {% else %}keine Treffer{% endif %}</p>
</header>
<div id="content">
    {% include 'entry_data.twig' %}
</div>

{% include 'footer.twig' %}
