{% include 'header.twig' with {'title': 'Liste'} %}
{% import 'tools.twig' as tools %}

<header>
    <h2>Neuer Eintrag</h2>
</header>
<div id="content">
    {% include 'entry_form.twig' with {'formAction': view.getInsertUrl()} %}
</div>

{% include 'footer.twig' %}