/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
@import "compass/utilities/general/clearfix";

$centeredWidth: 1150px;
$contentPadding: 30px;

html {
    font-family: Helvetica, Arial, sans-serif;
    background: #EBEBEB;
}

a {
    text-decoration: none;
}

textarea, input { 
    outline: none; 
}

nav {
    font-size: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: left;


    a {
        display: inline-block;
        padding: 9px 10px;
        color: #FFFFFF;               
    }

    ul {
        width: auto;
    }

    li {
        display: inline-block;
        font-weight: bold;
        border-right: 1px solid #2F2F2F;
    }
}

body {
    .centered {
        width: $centeredWidth;
        margin: 0 auto;
    }

    > header {
        @include pie-clearfix;
        @include background-image(linear-gradient(bottom, #2F2F2F 4%, #004191 90%));
        padding: 0 20px;
        height: 100px;

        .centered {
            position: relative;
            @include pie-clearfix;
        }

        .logo {
            float: left;
            width: 200px;
            
            h1 {
                height: 69px;
                text-indent: -999em;
                background: inline-image("logo.png") no-repeat left 16px;
            }
        }

        .search {
            float: left;
            width: 950px;
            height: 69px;

            form {
                padding: 21px 0;

                input[type="text"] {
                    width: 151px;
                    height: 18px;
                    padding: 3px 6px;
                    border: 1px solid #000000;
                    border-right: none;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    vertical-align: bottom;
                    margin: 0;
                }

                a {
                    display: inline-block;
                    text-indent: -999em;
                    height: 24px;
                    width: 23px;
                    border: 1px solid #000000;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    background: inline-image("search.png") no-repeat left top;
                }
            }
        }

        .navigation {
            @include pie-clearfix;
        }

        nav {
            li {
                @include background-image(linear-gradient(bottom, #294667 19%, #4779B3 90%));

                &:hover, &.active {
                    background: #FEFEFE;
                    
                    a {
                        color: #0F3273;
                    }
                }

                &:first-child {
                    border-top-left-radius: 5px;
                }

                &:last-child{
                    border-top-right-radius: 5px;
                    border-right: none;
                }
            }

            &.home {
                margin-right: 10px;

                a {
                    text-indent: -999em;
                    width: 14px;
                    background: inline-image("home.png") no-repeat center center;        
                }

                &:hover a {
                    background-image: inline-image("home_hl.png");
                }
            }            
        }

        .user {
            position: absolute;
            bottom: 10px;
            right: 0;
            width: 200px;
            color: #FFFFFF;
            font-size: 12px;
            text-align: right;
        }
    }

    > footer {
        color: #FFFFFF;

        .info {
            @include background-image(linear-gradient(bottom, #2F2F2F 4%, #004191 90%));
            padding: 1em 0;            
        }
        
        .social {
            padding: .5em 0;
            
            a {
                display: inline-block;
                height: 16px;
                padding-left: 22px;
                color: #2A2A2A;
                margin-right: 20px;
                
                &.github {
                    background: inline-image("github.png") no-repeat left top;
                }
                
                &.facebook {
                    background: inline-image("facebook.png") no-repeat left top;
                }
                
                &.googleplus {
                    background: inline-image("googleplus.png") no-repeat left top;
                }
            }
        }

        p {
            margin: 1em 0;
        }  
    }
}

#wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    width: $centeredWidth + 2;

    header {
        padding: $contentPadding $contentPadding 0 $contentPadding;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: #D6D6D6;
        border: 1px solid #C9C9C9;
        border-bottom: none;

        @include background-image(linear-gradient(bottom, #E6E6E6 45%, #F7F7F7 73%));

        @include pie-clearfix;

        h2 {
            font-size: 28px;
            font-weight: bold;
            color: #153965;
            margin-bottom: 20px;
        }

        .hits {
            height: 30px;
        }

        nav li {
            @include background-image(linear-gradient(bottom, #5B5B5B 23%, #808080 73%));

            border: none;

            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            margin-right: 5px;

            &:last-child {
                margin: 0;
            }

            &:hover, &.active {
                background: #FEFEFE;
                
                a {
                    color: #5B5B5B;
                }
            }                
        }
    }
}

#content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #C9C9C9;
    border-top: none;
    padding: $contentPadding;
    width: $centeredWidth - $contentPadding * 2;
    background: #FEFEFE;
    @include pie-clearfix;
}

.pagination {
    padding: 1px;
    border: 1px solid #5B5B5B;
    background: #F7F7F7;
    font-size: 12px;
    float: right;
    margin: 10px 0;

    li {
        display: inline-block;
        padding: 4px 6px;
              
        &.info {
            background: #5B5B5B;
            margin-right: 1px;
            color: #FFFFFF;
        }

        &.active {
            background: #C9C9C9;
            font-weight: bold;
        }
    }

    &.top {
        margin-top: 0;
    }

    &.bottom {
        margin-bottom: 0;
    }
}

#entryList {
    width: $centeredWidth - $contentPadding * 2;
    border-radius: 10px;

    thead {
        @include background-image(linear-gradient(bottom, #5B5B5B 23%, #808080 73%));
    }

    th, td {
        padding: 10px;
    }

    th {
        
        color: #FFFFFF;
        
        &.header {
            span {
                padding-right: 30px;
                background: inline-image("sort_neutral.png") no-repeat right 3px;
            }

            &.headerSortUp {
                span {
                    background-image: inline-image("sort_desc.png");
                }
            }

            &.headerSortDown {
                span {
                    background-image: inline-image("sort_asc.png");
                }
            }
        }

        &.tools {
            width: 42px;
        }

        &.date {
            width: 80px;
        }       
        
        &.name {
            width: 200px;
        }  

        &.ip {
            width: 120px;
        }  
    }

    tr:nth-child(odd) {
        td {
           background: #F7F7F7; 
        }       
    }

    .tools {
        width: auto;

        li {
            display: inline-block;
            margin-right: 10px;

            &:last-child {
                margin: 0;
            }            
        }

        a {
            display: inline-block;
            text-indent: -999em;
            width: 16px;
            height: 16px;
            background-repeat: none;
            
            &.edit {
                background: inline-image("button_edit.png");
            }

            &.delete {
                background: inline-image("button_delete.png");
            }        
        }
    }
}